# Core
pandas
python-dateutil

# Type checking / linting
mypy
types-python-dateutil
flake8

# Unit testing
pytest
pytest-cov

# For JSON validation (optional but recommended)
pydantic

# Optional: TA-Lib or pandas-ta for indicators
pandas-ta-openbb
numpy
# ta-lib  # use this only if compiled version is available on your systempandas 
